<header>
    <div class="head">
        <div class="banner-div">
            <img src="/assets/logo20.jpg" class="banner">
        </div>

        <div class="menu">
            <button mat-button class="home2 size" style="color: #FF4040;">Home</button>
            <button mat-button class="home2 size">Contato</button>
            <button mat-button class="home2 size">Parceria</button>
            <button mat-button class="home2 size">Localização</button>
        </div>

        <div class="titulo">
            <img src="/assets/logo18.png" class="logo">
            <h1 class="nome">Software Logístico</h1>
            <H2 class="nome2">Controle de estoque</H2>
            <br>
            <div class="buttons">
                <a href="listar" class="btn effect04" data-sm-link-text="CLICK AQUI"
                    target="_blank"><span>ACESSAR</span></a>
            </div>
        </div>

        <div class="main-container">
            <div class="container">
                <div class="row"></div>
            </div>
        </div>
    </div>
</header>